

<body>
    <!-- Page Content -->
    <div class="container" id="waiting">
        <div class="row" id="room-list">
            <div class="container col-9 d-flex flex-wrap">
                <% for room_number in (1..10) do %>
                    <div class="game-room">
                        <%= "Game Room #{room_number}" %>
                    </div>
                <% end %>
            </div>
            <div class="container col-3">
                One of three columns
            </div>
        </div>
        <div class="row" id="wait-chat">
            <div class="container col-12">
                One of three columns
            </div>
        </div>
    </div>

</body>
